/* Фон и общие стили */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Галерея */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

/* Фильтры */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 5px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#anagram-checkbox {
    margin-left: 10px;
}

/* Карточки продуктов */
.product-card {
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    width: 250px;
    height: 400px; /* Фиксированная высота карточки */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Добавляем относительное позиционирование */
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 150px; /* Высота изображения */
    object-fit: cover; /* Обрезка и масштабирование */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product-card .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px; /* Добавляем отступ для кнопки */
}

.product-card .btn-primary {
    background-color: #0078D4;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 70%; /* Кнопка занимает всю ширину карточки */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 16px; /* Расположение кнопки внизу */
    left: 16px; /* Отступ слева */
    right: 16px; /* Отступ справа */
    border: none; /* Убираем границу */
    transition: background-color 0.2s;
    font-weight: bold; /* Жирный шрифт */
}

.product-card .btn-primary:hover {
    background-color: #0056b3; /* Темный синий фон при наведении */
}

/* Главная страница: Галерея карточек */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.control-btn {
    padding: 10px 20px;
    background-color: #0078D4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: bold; /* Жирный шрифт */
    width: auto; /* Устанавливаем автоматическую ширину */
    min-width: 120px; /* Минимальная ширина кнопок */
}

.control-btn:hover {
    background-color: #0056b3; /* Темный синий фон при наведении */
}

/* Стили для плашки вывода дубликатов */
.duplicate-alert {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #e1e1e1; /* Граница */
    border-radius: 4px; /* Закругленные углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Тень */
    width: 60%; /* Растягиваем блок на всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    font-weight: bold; /* Жирный шрифт */
    font-size: 18px; /* Увеличиваем размер шрифта */
}

.duplicate-alert p {
    margin: 0; /* Убираем отступы у параграфа */
}

/* Стили для плашки формы поиска пар продуктов */
.couple-form {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #e1e1e1; /* Граница */
    border-radius: 4px; /* Закругленные углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Тень */
    width: 60%; /* Растягиваем блок на всю ширину контейнера */
}

.couple-form .form-label {
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    font-weight: bold; /* Жирный шрифт */
    color: #333; /* Цвет текста */
}

.couple-form .form-control {
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    color: #333; /* Цвет текста */
}

.couple-form .btn-primary {
    background-color: #0078D4; /* Синий фон Microsoft */
    color: white;
    padding: 0.5rem 1rem; /* Увеличиваем размер кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    margin-left: 1rem; /* Добавляем отступ слева */
}

.couple-form .btn-primary:hover {
    background-color: #0056b3; /* Темный синий фон при наведении */
}

/* Стили для плашки вывода результатов */
.couple-result {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #e1e1e1; /* Граница */
    border-radius: 4px; /* Закругленные углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Тень */
    width: 60%; /* Растягиваем блок на всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    font-weight: bold; /* Жирный шрифт */
    font-size: 18px; /* Увеличиваем размер шрифта */
}

.couple-result p {
    margin: 0; /* Убираем отступы у параграфа */
}

/* Стили для плашки вывода суммы квадратов цен */
.sum-of-squares {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #0078D4; /* Синий фон в стиле Microsoft */
    color: white; /* Белый текст */
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    font-weight: 300; /* Тонкий шрифт */
    font-size: 16px; /* Увеличиваем размер шрифта */
    width: 50%; /* Растягиваем блок на всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    display: flex; /* Используем Flexbox для вертикального выравнивания */
    align-items: center; /* Вертикальное выравнивание текста */
    justify-content: center; /* Горизонтальное выравнивание текста */
    border: none; /* Убираем границу */
    border-radius: 0; /* Убираем закругленные углы */
    box-shadow: none; /* Убираем тень */
}

.sum-of-squares p {
    margin: 0; /* Убираем отступы у параграфа */
}

/* Стили для плашки группировки анаграмм */
.anagram-info {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #0078D4; /* Синий фон в стиле Microsoft */
    color: white; /* Белый текст */
    font-family: 'Segoe UI', Arial, sans-serif; /* Шрифт Microsoft */
    font-weight: bold; /* Жирный шрифт */
    font-size: 18px; /* Увеличиваем размер шрифта */
    width: 50%; /* Растягиваем блок на всю ширину контейнера */
    text-align: center; /* Выравнивание текста по центру */
    display: flex; /* Используем Flexbox для вертикального выравнивания */
    align-items: center; /* Вертикальное выравнивание текста */
    justify-content: center; /* Горизонтальное выравнивание текста */
    border: none; /* Убираем границу */
    border-radius: 0; /* Убираем закругленные углы */
    box-shadow: none; /* Убираем тень */
}

.anagram-info p {
    margin: 0; /* Убираем отступы у параграфа */
}

/* Стили для страницы продукта */
.product-page {
    padding: 20px;
}

.product-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-page .product-details {
    text-align: center;
    margin-bottom: 20px;
}

.product-page .product-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-page .product-details p {
    margin: 10px 0;
}

.back-button-container {
    text-align: center;
}

.back-button-container button {
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
}

.back-button-container button:hover {
    background-color: #0056b3;
}

/* Галочка для анаграммы */
.product-card .anagram-checkbox {
    margin-bottom: 10px;
    display: block; /* Размещаем галочку в отдельной строке */
}

/* Стили для слайдеров цен */
#min-price-slider, #max-price-slider {
    width: 80%;
    margin: 10px auto;
}

/* Стили для меток слайдеров */
#min-price-slider + label, #max-price-slider + label {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}